 .u-section-1 {
  min-height: 692px;
}

.u-section-1 .u-group-1 {
  min-height: 60px;
  background-image: none;
  height: auto;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 5px auto 0 17px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: -39px 25px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -24px auto 0 92px;
}

.u-section-1 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 999px);
  min-height: 628px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 149px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 18px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 98px 129px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -99px 0 0;
  padding: 6px 100px 6px 75px;
}

.u-section-1 .u-icon-3 {
  font-size: 2em;
  margin-right: 30px;
  vertical-align: -16px;
}

.u-section-1 .u-text-3 {
	
font-family: Cairo;
    font-size: 13px;
  margin: -31px 49px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 149px;
}

.u-section-1 .u-container-layout-4 {
  padding: 11px 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 10px auto 0;
  padding: 12px 100px 13px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.7334em;
  margin-right: 15px;
}

.u-section-1 .u-text-4 {
  font-family: Cairo;
    font-size: 13px;
  margin: -30px 65px 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 149px;
}

.u-section-1 .u-container-layout-5 {
  padding: 11px 13px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 9px auto 0;
  padding: 8px 82px 9px 80px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.9334em;
  margin-right: 22px;
}

.u-section-1 .u-text-5 {
  font-family: Cairo;
    font-size: 13px;
  margin: -28px 49px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 695px;
  min-height: 151px;
  height: auto;
  margin: 109px auto 0 161px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
    width: 142px;
    font-size: 2rem;
    margin: 30px auto 0;
    font-family: Cairo;
}

.u-section-1 .u-group-4 {
  height: auto;
  width: calc(((100% - 1140px) / 2) + 141px);
  min-height: 628px;
  background-image: none;
  margin: -628px 0 2px auto;
}

.u-section-1 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-5 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 19px;
}

.u-section-1 .u-icon-6 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-7 {
	color: #ffffff;
    font-size: 15px;
    font-family: Cairo;
  margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-6 {
  background-image: none;
  min-height: 46px;
  height: auto;
  width: 191px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 19px;
}

.u-section-1 .u-icon-7 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-8 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 49px 0 auto;
}

.u-section-1 .u-group-7 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
  width: 191px;
  margin-left: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 19px;
}

.u-section-1 .u-icon-8 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-9 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 49px 0 auto;
}

.u-section-1 .u-group-8 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 19px;
}

.u-section-1 .u-icon-9 {
  width: 29px;
  height: 29px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-text-10 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 49px 0 auto;
}

.u-section-1 .u-group-9 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 19px;
}

.u-section-1 .u-icon-10 {
  width: 31px;
  height: 30px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 1px;
}

.u-section-1 .u-text-11 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 49px 0 auto;
}

.u-section-1 .u-group-10 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 19px;
}

.u-section-1 .u-icon-11 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 2px;
}

.u-section-1 .u-text-12 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 49px 0 auto;
}

.u-section-1 .u-group-11 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 19px;
}

.u-section-1 .u-icon-12 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 4px;
}

.u-section-1 .u-text-13 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-12 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 19px;
}

.u-section-1 .u-icon-13 {
  width: 31px;
  height: 31px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-text-14 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-13 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 19px;
}

.u-section-1 .u-icon-14 {
  width: 29px;
  height: 29px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 4px;
}

.u-section-1 .u-text-15 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-14 {
  background-image: none;
  min-height: 46px;
  height: auto;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 19px;
}

.u-section-1 .u-icon-15 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-16 {
	font-size: 15px;
    font-family: Cairo;
  margin: -25px 50px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 124px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 940px) / 2) + 760px);
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -101px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 34px 2px 32px;
  }

  .u-section-1 .u-text-3 {
	  
    margin-top: -29px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    padding: 7px 44px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -27px;
    margin-bottom: 7px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 133px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 4px 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
    padding: 2px 39px 3px 37px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -29px;
    margin-right: 32px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 50px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    width: calc(((100% - 940px) / 2) + 180px);
    margin-bottom: 32px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 49px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 38px;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-7 {
    margin-top: 16px;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: 14px;
    height: auto;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 7px;
    padding: 1px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-group-9 {
    margin-top: 14px;
    height: auto;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 49px;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 7px;
    padding: 1px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 49px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 14px;
    height: auto;
  }

  .u-section-1 .u-icon-14 {
    margin-top: 7px;
    padding: 1px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 49px;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-icon-15 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -43px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -21px;
    margin-left: 83px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 580px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 114px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 119px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: -98px;
    padding: 5px 37px 5px 36px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -21px;
    margin-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: 22px;
    padding: 9px 45px 9px 43px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -21px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 114px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.125rem;
    margin-top: 19px;
    padding: 6px 41px 6px 40px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -23px;
    margin-right: 31px;
    margin-bottom: 2px;
  }

  .u-section-1 .u-group-3 {
    width: 497px;
    min-height: 143px;
    margin-right: 83px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-group-4 {
    width: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-1 .u-text-7 {
    margin-right: 46px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 25px;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-size: 1rem;
    margin-right: 47px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 17px;
    width: auto;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: -24px;
    margin-right: 46px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 46px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 46px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 46px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 46px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 46px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 46px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: 5px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 475px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -95px;
    padding-right: 145px;
    padding-left: 144px;
  }

  .u-section-1 .u-icon-3 {
    font-size: 3.3334em;
  }

  .u-section-1 .u-text-3 {
    margin-top: -42px;
    margin-right: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 142px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: 14px;
    padding: 17px 161px 18px 160px;
  }

  .u-section-1 .u-icon-4 {
    font-size: 2.4445em;
  }

  .u-section-1 .u-text-4 {
    margin-top: -45px;
    margin-right: 60px;
    margin-bottom: 24px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
    margin-top: 0;
    padding: 13px 155px 15px 154px;
  }

  .u-section-1 .u-icon-5 {
    font-size: 2.6667em;
  }

  .u-section-1 .u-text-5 {
    margin-top: -30px;
    margin-right: 60px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: calc(((100% - 540px) / 2) + 65px);
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 22px;
    width: auto;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-10 {
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-11 {
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-12 {
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-12 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-13 {
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-14 {
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    margin-right: 120px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-14 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-15 {
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 120px;
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 1px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 310px);
    min-height: 707px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 75px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: -100px;
    padding: 0 66px 0 65px;
  }

  .u-section-1 .u-icon-3 {
    font-size: 3.7223em;
  }

  .u-section-1 .u-text-3 {
    margin-top: -33px;
    margin-right: 61px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: 6px;
    padding: 18px 85px 19px 84px;
  }

  .u-section-1 .u-icon-4 {
    font-size: 2.75em;
  }

  .u-section-1 .u-text-4 {
    margin-top: -39px;
    margin-right: 61px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.5rem;
    margin-top: 8px;
    padding: 19px 83px 21px 82px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -32px;
    margin-right: 61px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    width: calc(((100% - 340px) / 2) + 30px);
    margin-top: -707px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 12px;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 10px;
    width: auto;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 68px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 15px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-12 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-14 {
    margin-top: 9px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 96px;
}