.u-section-1 .u-sheet-1 {
  min-height: 444px;
}

.u-section-1 .u-image-1 {
  width: 368px;
  left: 86px;
  right: auto;
}

.u-section-1 .u-text-1 {
  margin: 110px 44px 0 540px;
}

.u-section-1 .u-text-2 {
  margin: 28px 137px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 12px 248px 0 744px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 38px 159px 60px auto;
  padding: 8px 150px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    height: 455px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 -49px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -401px;
    margin-right: 27px;
    margin-left: 364px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 113px;
    margin-left: 450px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-right: 231px;
    margin-left: 568px;
  }

  .u-section-1 .u-btn-1 {
    width: 332px;
    margin: 54px 136px 157px 473px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -335px;
    margin-right: 20px;
    margin-left: 318px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-right: 20px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 128px;
    margin-left: 448px;
  }

  .u-section-1 .u-btn-1 {
    width: auto;
    margin: 29px 28px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 312px;
    margin-right: 86px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-1 {
    width: 392px;
    margin-top: -724px;
    margin-right: 74px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-2 {
    width: 411px;
    margin-top: 18px;
    margin-right: 64px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-3 {
    width: 165px;
    margin-top: 29px;
    margin-right: 187px;
    margin-left: 188px;
  }

  .u-section-1 .u-btn-1 {
    width: 332px;
    margin-top: 42px;
    margin-right: 104px;
    margin-left: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-image-1 {
    height: 420px;
    margin-top: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -657px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 4px;
    margin-right: 4px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 748px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-2 .u-gallery-1 {
    height: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-2 .u-text-1 {
    width: 440px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1080px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3457px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3299px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2267px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2109px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 628px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 238px;
  height: 94px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 38px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  margin: 65px auto 0;
}

.u-section-3 .u-image-2 {
  min-height: 259px;
  background-image: url("images/438834354_415180591457942_1186522940184705413_n.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 259px;
  background-image: url("images/439313711_415906511385350_307936608875523480_n.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 259px;
  background-image: url("images/440091543_418921294417205_7200916159281565766_n.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  min-height: 259px;
  background-image: url("images/439991928_415906391385362_7746086906848712114_n.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-3 .u-image-2 {
    min-height: 214px;
  }

  .u-section-3 .u-image-3 {
    min-height: 214px;
  }

  .u-section-3 .u-image-4 {
    min-height: 214px;
  }

  .u-section-3 .u-image-5 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 328px;
  }

  .u-section-3 .u-image-3 {
    min-height: 328px;
  }

  .u-section-3 .u-image-4 {
    min-height: 328px;
  }

  .u-section-3 .u-image-5 {
    min-height: 328px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2501px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1773px;
  }

  .u-section-3 .u-image-2 {
    min-height: 310px;
  }

  .u-section-3 .u-image-3 {
    min-height: 310px;
  }

  .u-section-3 .u-image-4 {
    min-height: 310px;
  }

  .u-section-3 .u-image-5 {
    min-height: 310px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 524px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 28px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-4 .u-video-1 {
  height: 376px;
  width: 626px;
  margin: 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-4 .u-video-1 {
    height: 329px;
    width: 548px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-4 .u-video-1 {
    height: 252px;
    width: 420px;
    margin-top: 165px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-4 .u-video-1 {
    height: 417px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-4 .u-video-1 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 695px;
}

.u-section-5 .u-video-1 {
  height: 647px;
  margin-top: 19px;
  margin-bottom: 30px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-5 .u-video-1 {
    height: 525px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-5 .u-video-1 {
    height: 385px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-5 .u-video-1 {
    height: 354px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-5 .u-video-1 {
    height: 242px;
    margin-bottom: 57px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 404px;
}

.u-section-6 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 8px;
  margin-bottom: 59px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 284px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 24px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 0 3px 0 -3px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 24px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 0 3px 0 -3px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 24px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 0 3px 0 -3px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 31px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 234px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-6 .u-text-1 {
    width: 293px;
    margin-top: 28px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 24px;
    margin-right: 24px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 469px;
  margin: 0 auto;
}

.u-section-7 .u-image-1 {
  width: 477px;
  height: 469px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: -283px 68px 240px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -301px;
    margin-right: 0;
    margin-bottom: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -320px;
    margin-right: 18px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 121px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -573px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 334px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -438px;
    margin-right: 18px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 706px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 586px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 3rem;
  font-weight: 700;
  margin: 234px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 586px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-size: 1rem;
  padding-left: 21px;
  font-weight: 700;
  margin: 38px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 74px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 734px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 323px;
    font-size: 1.5rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 734px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 354px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-10 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-10 .u-text-3 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 443px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 34px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 168px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-12 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-12 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-12 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-12 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-12 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-12 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-12 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 64px;
  }
}