




















.u-section-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1 .u-group-1 {
  width: 1070px;
  min-height: 791px;
  height: auto;
  margin: 0 auto 0 -50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  animation-timing-function: ease;
  --radius: 2px;
  min-height: 56px;
  width: 990px;
  margin: 30px 14px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 26px;
  padding-right: 26px;
}

.u-section-1 .u-image-1 {
  width: 25px;
  height: 25px;
  margin: 8px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 25px;
  height: 25px;
  margin: -25px auto 0 0;
}

.u-section-1 .u-text-1 {
  padding: 15px;
  font-size: 0.875rem;
  margin: 0px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -22px auto 0 45px;
}

.u-section-1 .u-group-3 {
  width: 516px;
  min-height: 669px;
  height: auto;
  margin: 17px 14px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 26px;
}

.u-section-1 .u-form-1 {
  height: 464px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 463px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-line-1 {
  height: 0;
}

.u-section-1 .u-form-group-3 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-line-2 {
  height: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
}

.u-section-1 .u-line-3 {
  height: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 10px 0;
}

.u-section-1 .u-group-4 {
  width: 459px;
  min-height: 203px;
  height: auto;
  margin: -671px auto 0 66px;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 10px;
}

.u-section-1 .u-group-5 {
  --radius: 10px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 172px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-3 {
  width: 99px;
  height: 99px;
  margin: 36px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -88px 10px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 22px 10px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 178px;
  height: 265px;
  margin: -265px -58px 0 auto;
}

.u-section-1 .u-group-6 {
  min-height: 791px;
  width: 170px;
  height: auto;
  margin: -791px -50px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-7 {
  height: auto;
  min-height: 791px;
  margin-top: 0;
  margin-bottom: -30px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 11px;
}

.u-section-1 .u-group-8 {
  min-height: 701px;
  animation-timing-function: ease-in;
  background-image: none;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.u-section-1 .u-group-9 {
  min-height: 45px;
  width: 100%;
  height: auto;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-icon-1 {
  width: 31px;
  height: 31px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: -25px 37px 0 3px;
}

.u-section-1 .u-group-10 {
  min-height: 46px;
  height: auto;
  width: 155px;
  margin: 12px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 19px;
}

.u-section-1 .u-icon-2 {
  width: 31px;
  height: 31px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 79px;
  padding: 6px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-11 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 12px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 19px;
}

.u-section-1 .u-icon-3 {
  width: 31px;
  height: 31px;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 79px;
  padding: 6px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-12 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 15px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 19px;
}

.u-section-1 .u-icon-4 {
  width: 29px;
  height: 29px;
  margin: 9px auto 0 81px;
  padding: 1px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-13 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 10px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 19px;
}

.u-section-1 .u-icon-5 {
  width: 31px;
  height: 30px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 79px;
  padding: 1px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: -25px 41px 0 0;
}

.u-section-1 .u-group-14 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 19px;
}

.u-section-1 .u-icon-6 {
  width: 31px;
  height: 31px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 79px;
  padding: 2px;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-15 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 12px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 19px;
}

.u-section-1 .u-icon-7 {
  width: 31px;
  height: 31px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 79px;
  padding: 4px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-16 {
  min-height: 46px;
  height: auto;
  --radius: 10px;
  width: 155px;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 19px;
}

.u-section-1 .u-icon-8 {
  width: 31px;
  height: 31px;
  margin: 9px auto 0 79px;
  padding: 1px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-17 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 12px 0 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 19px;
}

.u-section-1 .u-icon-9 {
  width: 29px;
  height: 29px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 81px;
  padding: 4px;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

.u-section-1 .u-group-18 {
  min-height: 46px;
  --radius: 10px;
  width: 155px;
  margin: 11px 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 19px;
}

.u-section-1 .u-icon-10 {
  width: 31px;
  height: 31px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0 79px;
  padding: 6px;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: -25px 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 820px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 799px;
    margin-right: auto;
    margin-left: 7px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-group-3 {
    width: 426px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 366px;
  }

  .u-section-1 .u-group-4 {
    width: 363px;
    min-height: 310px;
    margin-left: 7px;
    height: auto;
	margin-top: -765px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-5 {
    min-height: 290px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-shape-1 {
    width: 171px;
    height: 791px;
    margin-top: -791px;
    margin-right: -51px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 8px;
  }

  .u-section-1 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.1s;
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 39px;
  }

  .u-section-1 .u-group-10 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-11 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-12 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-13 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-14 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-15 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-16 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-17 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 42px;
  }

  .u-section-1 .u-group-18 {
    transition-duration: 0.5s;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-10 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-group-1 {
    width: 600px;
    min-height: 1053px;
  }

  .u-section-1 .u-group-2 {
    min-height: 89px;
    width: 580px;
    margin-right: 15px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-1 {
    
    margin-top: -1px;
   
   
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -20px;
    margin-left: 50px;
  }

  .u-section-1 .u-group-3 {
    width: 579px;
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-form-1 {
    width: 463px;
  }

  .u-section-1 .u-group-4 {
    width: 575px;
    min-height: 215px;
    margin-top: 26px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-group-5 {
    min-height: 196px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 76px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -81px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 25px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 172px;
    margin-top: -1052px;
  }

  .u-section-1 .u-group-6 {
    min-height: 793px;
    margin-bottom: 260px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1030px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 99px;
    width: 540px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-1 {
  
    margin-top: 6px;
 
  }

  .u-section-1 .u-text-2 {
    margin-top: -20px;
    margin-left: 71px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 463px;
  }

  .u-section-1 .u-group-4 {
    min-height: 202px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: 7px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 14px;
    margin-bottom: 23px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 60px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 60px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-right: 34px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1088px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 104px;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -20px;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-group-4 {
    min-height: 256px;
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    min-height: 232px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 424px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 7px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 8px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 8px;
  }
}

.u-section-1 .u-text-9,
.u-section-1 .u-text-9:before,
.u-section-1 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-9,
.u-section-1 .u-group-9:before,
.u-section-1 .u-group-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-9.u-group-9.u-group-9:hover {
  transform: scale(1.04) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-9.u-group-9.u-group-9:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-9.u-group-9.u-group-9.hover {
  transform: scale(1.04) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-10,
.u-section-1 .u-group-10:before,
.u-section-1 .u-group-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-10.u-group-10.u-group-10:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-11,
.u-section-1 .u-group-11:before,
.u-section-1 .u-group-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-11.u-group-11.u-group-11:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-12,
.u-section-1 .u-group-12:before,
.u-section-1 .u-group-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-12.u-group-12.u-group-12:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-13,
.u-section-1 .u-group-13:before,
.u-section-1 .u-group-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-13.u-group-13.u-group-13:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-14,
.u-section-1 .u-group-14:before,
.u-section-1 .u-group-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-14.u-group-14.u-group-14:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-15,
.u-section-1 .u-group-15:before,
.u-section-1 .u-group-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-15.u-group-15.u-group-15:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-16,
.u-section-1 .u-group-16:before,
.u-section-1 .u-group-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-16.u-group-16.u-group-16:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-17,
.u-section-1 .u-group-17:before,
.u-section-1 .u-group-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-17.u-group-17.u-group-17:hover:before {
  background-color: #f1c50e !important;
}

.u-section-1 .u-group-18,
.u-section-1 .u-group-18:before,
.u-section-1 .u-group-18 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-18.u-group-18.u-group-18:hover:before {
  background-color: #f1c50e !important;
} position: fixed;