 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 84px 421px 0 444px;
}

.u-section-1 .u-form-1 {
  height: 154px;
  width: 399px;
  margin: 31px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  width: 423px;
  margin: 31px auto 0;
}

.u-section-1 .u-form-2 {
  height: 154px;
  width: 399px;
  margin: 40px auto 60px;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-2 {
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 321px;
    margin-left: 344px;
    width: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 211px;
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 121px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 21px;
    margin-left: 44px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }
}