@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "poppins";
}

.bg {
  background-image: url("../public/images/header.jpg");
  background-size: cover;
  height: 70vh;
}
