 .u-section-1 {
  min-height: 714px;
}

.u-section-1 .u-group-1 {
  min-height: 60px;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 5px auto 0 17px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: -39px 25px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: -24px auto 0 92px;
}

.u-section-1 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 141px);
  min-height: 628px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-3 {
  background-image: none;
  min-height: 46px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 19px;
}

.u-section-1 .u-icon-3 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-2 {
    color: #ffffff;
    font-size: 15px;
    font-family: Cairo;
    width: auto;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-4 {
  background-image: none;
  min-height: 46px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 19px;
}

.u-section-1 .u-icon-4 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-3 {
    text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-5 {
  background-image: none;
  min-height: 46px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 19px;
}

.u-section-1 .u-icon-5 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-4 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-6 {
  background-image: none;
  min-height: 46px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 19px;
}

.u-section-1 .u-icon-6 {
  width: 29px;
  height: 29px;
  margin: 9px 0 0 auto;
  padding: 1px;
}

.u-section-1 .u-text-5 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-7 {
  background-image: none;
  min-height: 46px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 19px;
}

.u-section-1 .u-icon-7 {
  width: 31px;
  height: 30px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 1px;
}

.u-section-1 .u-text-6 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-8 {
  background-image: none;
  min-height: 46px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 19px;
}

.u-section-1 .u-icon-8 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 2px;
}

.u-section-1 .u-text-7 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-9 {
  background-image: none;
  min-height: 46px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 19px;
}

.u-section-1 .u-icon-9 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 4px;
}

.u-section-1 .u-text-8 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-10 {
  background-image: none;
  min-height: 46px;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 19px;
}

.u-section-1 .u-icon-10 {
  width: 31px;
  height: 31px;
  margin: 9px 0 0 auto;
  padding: 1px;
}

.u-section-1 .u-text-9 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    width: auto;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-11 {
  background-image: none;
  min-height: 46px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 19px;
}

.u-section-1 .u-icon-11 {
  width: 29px;
  height: 29px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 4px;
}

.u-section-1 .u-text-10 {
  text-decoration: none;
  font-family: Cairo;
  font-size: 15px;
  width: auto;
  margin: -25px 50px 0 auto;
}

.u-section-1 .u-group-12 {
  background-image: none;
  min-height: 46px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 19px;
}

.u-section-1 .u-icon-12 {
  width: 31px;
  height: 31px;
  background-image: none;
  margin: 9px 0 0 auto;
  padding: 6px;
}

.u-section-1 .u-text-11 {
  text-decoration: none;
    font-family: Cairo;
    font-size: 15px;
    width: auto;
    margin: -25px 50px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 1019px;
  height: 69px;
  background-image: none;
  margin: -596px auto 0 calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: -52px auto 0 calc(((100% - 1140px) / 2) + 411px);
}

.u-section-1 .u-icon-13 {
  width: 42px;
  height: 42px;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + -15px);
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 474px);
}

.u-section-1 .u-text-14 {
  font-family: Cairo;
    font-size: 1.3rem;
  margin: -32px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 888px);
}

.u-section-1 .u-text-15 {
  font-family: Cairo;
    margin: 50px auto 0 calc(((100% - 1140px) / 2) + 376px);
}

.u-section-1 .u-list-1 {
  width: 1019px;
  margin: 14px auto 60px calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 373px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 277px;
  height: 39px;
  background-image: none;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-16 {
  font-family: Cairo;
    margin: -28px 90px 0;
}

.u-section-1 .u-text-17 {
  font-family: Cairo;
  margin: 47px auto 0;
}

.u-section-1 .u-text-18 {
  font-family: Cairo;
  margin: 15px 46px 0 auto;
}

.u-section-1 .u-text-19 {
  font-family: Cairo;
  margin: 13px 70px 0 auto;
}

.u-section-1 .u-icon-14 {
  width: 16px;
  height: 16px;
  margin: -19px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-15 {
  width: 16px;
  height: 16px;
  margin: 8px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-16 {
  width: 16px;
  height: 16px;
  margin: 9px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-17 {
  width: 16px;
  height: 16px;
  margin: 12px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 29px auto 0;
  padding: 8px 114px 8px 113px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 277px;
  height: 39px;
  background-image: none;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-20 {
  font-family: Cairo;
    margin: -28px 124px 0;
}

.u-section-1 .u-text-21 {

  font-family: Cairo;
  margin: 47px auto 0;
}

.u-section-1 .u-text-22 {
  font-family: Cairo;
  margin: 15px 46px 0 auto;
}

.u-section-1 .u-text-23 {
  font-family: Cairo;
  margin: 13px 70px 0 auto;
}

.u-section-1 .u-icon-18 {
  width: 16px;
  height: 16px;
  margin: -19px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-19 {
  width: 16px;
  height: 16px;
  margin: 8px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-20 {
  width: 16px;
  height: 16px;
  margin: 9px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-21 {
  width: 16px;
  height: 16px;
  margin: 12px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 29px auto 0;
  padding: 8px 114px 8px 113px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 277px;
  height: 39px;
  background-image: none;
  margin: 21px 19px 0;
}

.u-section-1 .u-text-24 {
  font-family: Cairo;
    margin: -28px 124px 0;
}

.u-section-1 .u-text-25 {
  font-family: Cairo;
  margin: 47px auto 0;
}

.u-section-1 .u-text-26 {
  font-family: Cairo;
  margin: 15px 46px 0 auto;
}

.u-section-1 .u-text-27 {
  font-family: Cairo;
  margin: 13px 70px 0 auto;
}

.u-section-1 .u-icon-22 {
  width: 16px;
  height: 16px;
  margin: -19px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-23 {
  width: 16px;
  height: 16px;
  margin: 8px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-24 {
  width: 16px;
  height: 16px;
  margin: 9px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-25 {
  width: 16px;
  height: 16px;
  margin: 12px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 29px auto 0;
  padding: 8px 114px 8px 113px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 940px) / 2) + 141px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 49px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 38px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 7px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 16px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 7px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 14px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 7px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 14px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 7px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 7px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 49px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 49px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 14px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 7px;
    padding: 1px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 49px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 49px;
  }

  .u-section-1 .u-shape-1 {
    width: 812px;
    margin-top: -613px;
    margin-left: calc(((100% - 940px) / 2) + -24px);
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2) + 330px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -34px;
    margin-right: calc(((100% - 940px) / 2) + 187px);
    margin-left: calc(((100% - 940px) / 2) + 686px);
  }

  .u-section-1 .u-text-15 {
    margin-top: 69px;
    margin-left: calc(((100% - 940px) / 2) + 339px);
  }

  .u-section-1 .u-list-1 {
    width: 812px;
    margin-left: calc(((100% - 940px) / 2) + -24px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 354px;
  }

  .u-section-1 .u-shape-2 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    width: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-20 {
    width: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-4 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-24 {
    width: 59px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1716px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 141px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 15px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 9px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 9px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 50px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 50px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 12px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 9px;
    padding: 4px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 50px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    width: 597px;
    margin-left: calc(((100% - 720px) / 2) + -32px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 720px) / 2) + 230px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 720px) / 2) + 292px);
  }

  .u-section-1 .u-text-14 {
    margin-top: -32px;
    margin-right: calc(((100% - 720px) / 2) + 177px);
    margin-left: calc(((100% - 720px) / 2) + 476px);
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 33px;
    margin-left: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-1 .u-list-1 {
    width: 595px;
    margin-top: 19px;
    margin-left: calc(((100% - 720px) / 2) + -32px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 960px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 128px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 128px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 128px;
    margin-left: 128px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1278px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 5px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 141px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 22px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-12 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 423px;
    margin-left: calc(((100% - 540px) / 2) + -36px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 540px) / 2) + 111px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 540px) / 2) + 164px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + 203px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-text-15 {
    margin-top: 32px;
    margin-left: calc(((100% - 540px) / 2) + 120px);
  }

  .u-section-1 .u-list-1 {
    width: 423px;
    margin-top: 22px;
    margin-bottom: 45px;
    margin-left: calc(((100% - 540px) / 2) + -36px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1018px;
  }

  .u-section-1 .u-shape-2 {
    width: 386px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-16 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -1px;
    margin-left: 15px;
    padding-right: 181px;
    padding-bottom: 9px;
    padding-left: 180px;
  }

  .u-section-1 .u-shape-3 {
    width: 386px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-20 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: -1px;
    margin-left: 15px;
    padding-right: 181px;
    padding-bottom: 9px;
    padding-left: 180px;
  }

  .u-section-1 .u-shape-4 {
    width: 386px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-24 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: -1px;
    margin-left: 15px;
    padding-right: 181px;
    padding-bottom: 9px;
    padding-left: 180px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 1px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 10px);
    margin-top: 1px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 15px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 9px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-12 {
    margin-top: 9px;
  }

  .u-section-1 .u-shape-1 {
    width: 348px;
    margin-top: -617px;
    margin-left: calc(((100% - 340px) / 2) + -37px);
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 340px) / 2) + 82px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 340px) / 2) + -21px);
  }

  .u-section-1 .u-text-13 {
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2) + 41px);
    margin-left: calc(((100% - 340px) / 2) + 232px);
  }

  .u-section-1 .u-text-15 {
    margin-top: 30px;
    margin-left: calc(((100% - 340px) / 2) + 92px);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 19px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2) + -33px);
  }

  .u-section-1 .u-shape-2 {
    width: 323px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 152px;
    padding-left: 151px;
  }

  .u-section-1 .u-shape-3 {
    width: 323px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 152px;
    padding-left: 151px;
  }

  .u-section-1 .u-shape-4 {
    width: 323px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 152px;
    padding-left: 151px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 96px;
}