h1, h2, h3, p {
    font-family: Cairo;
    font-family: Rancho;
}

body {
    font-family: Cairo;
    background-color: #d9d9d9;
}

.form-div {
    font-family: Cairo;
    width: 50%;
    right: 0;
    left: 0;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
    background: #d9d9d9;
    border-radius: 23px;
    box-shadow:  5px 5px 10px #b8b8b8,
             -5px -5px 10px #fafafa;
    /* transform: translateX(-50%, -50%); */
}

.bio-para {
    font-family: Cairo;
    font-size: 24px;
}




.form-control {
    display: block;
    font-family: Cairo;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #fd920d;
    border-color: #fdbe0d;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3c3c3c;
    border-color: #1e1e1e;
}
.btn-success {
    color: #fff;
    background-color: #f7b217;
    border-color: #dfbc3d;
}
.btn-success:hover {
    color: #fff;
    background-color: #3c3c3c;
    border-color: #1e1e1e;
}